#include <windows.h>
#include "module2.rh"

IDD_DIALOG2 DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Choose Number"
FONT 9, "Segoe UI"
BEGIN
CTEXT           "50", IDC_STATIC_VAL, 15, 10, 170, 12
SCROLLBAR       IDC_SCROLLBAR, 15, 28, 170, 14, SBS_HORZ
DEFPUSHBUTTON   "Yes", IDOK, 40, 65, 50, 14
PUSHBUTTON      "No", IDCANCEL, 110, 65, 50, 14
END